
@import "tailwindcss";

body {
	font-family: var(--font-albert-sans), system-ui, -apple-system, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
		sans-serif;
}

@layer base {
	h1 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 600;
	}

	p {
		font-size: 1rem;
		line-height: 1.75rem;
	}

	button {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 600;
	}
}


