
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Underdog&display=swap');

body {
	font-family: var(--font-albert-sans), system-ui, -apple-system, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
		sans-serif;
}
.underdog-regular {
	font-family: "Underdog", system-ui important;
	font-weight: 400;
	font-style: normal;
}
.montserrat-alternates-bold {
	font-family: "Montserrat Alternates", sans-serif ;
	font-weight: 700;
	font-style: normal;
}

@layer base {
	h1 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 600;
	}

	p {
		font-size: 1rem;
		line-height: 1.75rem;
	}

	button {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 600;
	}
}


